<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
        span{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id='app'>
        <input type="text" name="" id="" v-model='txt'>
        <input type="button" name="" id="" @click='show' value="提交">
        <ul>
            <li v-for="item,i in list">{{item}} <span @click='del(i)'>删除</span> </li>
        </ul>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                i:'',
                txt:'',
                list:[
                    '🍌',
                    '🍎',
                    '🍐'
                ]
            },
            methods:{
                show(){
                    this.list.push(this.txt)
                },
                del(i){
                    if(confirm('删不删？')){
                        this.list.splice(i,1)
                    }else{
                        alert('戏耍老子，滚！')
                    }
                }
            }
        })
    </script>
</body>
</html>