<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
        th,td{
            width: 100px;
        }
    </style>
</head>
<body>
    <div id='app'>
        <form action="">
            <input type="text" v-model="id">
            <input type="text" v-model="name">
            <input type="text" v-model="cj">
            <input type="button" value="提交" @click="btn">
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>成绩</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item,index in list">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.cj}}</td>
                    <td>
                        <input type="button" value="修改" @click="tab(index)">
                    </td>
                    <td>
                        <input type="button" value="删除" @click="del(i)">
                    </td>
                </tr>
            </tbody>        
        </table>
    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                txt:"",
                id:'',
                name:'',
                cj:'',
                list:[
                    {id:'1',name:'2', cj:'3'}
                ]
            },
            methods:{
                btn(){
                    this.list.push({id: this.id, name: this.name, cj: this.cj})
                },
                tab(i){
                    var cj = prompt("是否要修改成绩")
                    this.list[i].cj = cj
                },
                del(i){
                    if(confirm("是否删除")){
                        this.list.splice(i,1)
                    }
                }
            }
        })
    </script>
</body>
</html>