<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" name="" id="" v-model="txt">
        <input type="button" name="" id="" value="添加" @click='show'>
        <ul>
            <li v-for='anpai in list'>{{anpai}}</li>
           
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list:[
                  '小老板','添加','安排'
                ],
                txt:''
            },
            methods:{
                show(){
                    this.list.push(this.txt)
                }
            }
        });
    </script>
</body>

</html>